.top-container {
  display: flex;
  align-items: center;

  @media (max-width: 600px) {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.border-bottom {
  border-bottom: 1px solid rgb(150, 145, 145);
}
.logo {
  margin-right: 8px;
  font-family: "Archivo Black", sans-serif;
  font-size: 16px;

  color: #c71c1f;
}
.mobile-hidden {
  @media (max-width: 600px) {
    display: none;
  }
}
.header-menu-svg {
  display: flex;
  align-items: center;
}
.header-accent {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #cf2528;
}
.header-accent:hover {
  color: #cf2528;
}

.mb {
  margin-bottom: 2px;
}
.flex {
  display: flex;
  align-items: center;
}
.header-class {
  background-color: #cf2528;

  @media (min-width: 1080px) {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #cf2528;
    z-index: 1000;
  }
}
.header-container {
  display: flex;
  align-items: center;
  text-align: center;

  justify-content: space-between;
}
.header-text {
  font-size: 12px;
  color: #ffffff;
}

.green {
  display: flex;
  align-items: center;
  padding: 3px 8px 0;

  border-radius: 3px;
  font-size: 10px;
  font-weight: bold;

  color: white;
  background-color: #37a000;
  border-bottom: 2px solid #278529;
}
.white-text {
  color: #ffffff;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.subscribe-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 10px;
}
.subscribe-link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;

  padding-top: 5px;
  padding-bottom: 5px;

  color: #313131;
}

.subscribe-link:hover {
  color: #cf2528;
  fill: currentColor;
}

.subscribe-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;

  padding-top: 3px;
  padding-bottom: 3px;

  color: #313131;
}

.flex {
  display: flex;
}

.subscribe-text:hover {
  color: #cf2528;
}

.svg-hov-link {
  display: flex;
  align-items: center;

  padding-top: 8px;
  padding-bottom: 8px;

  margin-top: 3px;
}
.subscribe-item {
  display: flex;
  align-items: center;
}

.accent-color {
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: #a21c1e;
}

.header-list {
  display: flex;
  align-items: center;

  gap: 5px;
}

.decor-link {
  display: flex;
  align-items: center;
}

.decor-link:hover {
  color: #cf2528;
}

.header-list-nav {
  display: flex;
  text-align: center;
  align-items: center;

  font-size: 12px;

  @media (max-width: 600px) {
    overflow: scroll;
  }
}

.header-list-nav::-webkit-scrollbar {
  display: none;
}
.desktop-hidden {
  display: none;

  @media (max-width: 600px) {
    display: flex;
  }
}

.mobile-flex {
  @media (max-width: 600px) {
    display: flex;
  }
}

.mar-top {
  @media (max-width: 600px) {
    margin-top: 6px;
  }
}

.weather-header {
  display: flex;

  align-items: center;
}
.header-wheater-link {
  padding: 5px;
}
.header-item {
  display: flex;
  align-items: center;

  @media (max-width: 600px) {
  }
}
.header-menu {
  display: flex;

  background-color: rgb(120, 131, 131);

  gap: 1px;

  @media (max-width: 600px) {
    box-shadow: -20px 0 10px -5px rgba(0, 0, 0, 0.3);
  }
}
.header-menu-item {
  display: flex;
  align-items: center;

  padding: 8px;

  background-color: #3a3a3a;
}

.header-link {
  padding: 10px;

  font-size: 12px;
  color: rgb(255, 255, 255);
}

.header-link:hover {
  color: rgb(255, 255, 255);
  background-color: #a21c1e;
}

.header-menu-link {
  font-size: 12px;
  fill: #ffffff;
  color: #ffffff;
}
.header-bottom-container {
  background-color: #f7f7f7;
}
.header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-bottom-button {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;

  font-size: 13px;

  font-weight: bold;

  background-color: #dbe6ef;
  color: #3f6ea7;

  @media (max-width: 600px) {
    padding-top: 9px;
    padding-bottom: 9px;

    align-items: center;

    box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.3);
  }
}

.header-bottom-list {
  display: flex;
  align-items: center;

  @media (max-width: 600px) {
    overflow: scroll;
  }
}

.header-bottom-list::-webkit-scrollbar {
  display: none;
}

.header-bottom-link {
  color: #cf2528;
  font-size: 13px;
}

.header-bottom-link:hover {
  text-decoration: underline;
  color: #cf2528;
}

.header-bottom-item {
  position: relative;

  padding: 9px;

  font-size: 13px;
}

.header-bottom-item:not(:last-child) .header-bottom-link::after {
  content: "";
  display: block;

  position: absolute;

  top: 13px;
  right: -1px;

  width: 1px;
  height: 11px;
  background-color: #cf2528;

  @media (max-width: 600px) {
  }
}

/* //////////////////////////////////////////////////FOOTER //////////////////////////////////////////////*/
.footer-container {
  display: flex;

  justify-content: center;
  align-items: center;

  border-bottom: 1px solid rgb(240, 240, 240);

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.footer-logo {
  font-size: 35px;
  font-family: "Archivo Black", sans-serif;
  color: #b9b9b9;

  @media (max-width: 600px) {
    margin-bottom: 20px;
  }
}

.footer-logo:hover {
  opacity: 0.9;
  color: #b9b9b9;
}

.footer-absolut {
  @media (max-width: 600px) {
    position: relative;
    top: -233px;
    left: 130px;
  }
}

.footer-bg {
  background-color: #f7f7f7;
}

.footer-list {
  display: flex;
  gap: 10px;

  margin-left: 40px;
  margin-right: 40px;

  @media (max-width: 600px) {
    display: block;
    gap: 0px;
    text-align: center;
  }
}

.footer-list-link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #4c4c4c;
}

.footer-list-link:hover {
  text-decoration: underline;
  color: #4c4c4c;
}

.footer-control {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;

  @media (max-width: 600px) {
    margin-left: 80px;
    align-items: center;
  }
}

.footer-tablet-absolut {
  @media (max-width: 600px) {
    position: relative;
    top: 100px;
    left: -147px;
  }
}

.footer-control-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer-control-text {
  font-size: 12px;
  color: #8d8d8d;
}
.footer-subscribe {
  display: flex;
  justify-content: center;
  margin-top: 40px;

  @media (max-width: 600px) {
    margin-top: 150px;
  }
}
.footer-text {
  font-size: 12px;
  color: #989899;
  margin-right: 8px;
}

.footer-partners-list {
  display: flex;

  gap: 10px;

  @media (max-width: 600px) {
    padding-left: 20px;
    padding-right: 20px;

    gap: 0px;
  }
}

.footer-partners {
  display: flex;
  align-items: center;

  justify-content: center;
  margin-top: 40px;

  @media (max-width: 600px) {
    display: block;
    text-align: center;
  }
}
.footer-link {
  font-size: 12px;
  color: #434744;
}

.footer-link:hover {
  text-decoration: underline;
  color: #4c4c4c;
}

.footer-links {
  display: flex;

  gap: 10px;

  @media (max-width: 600px) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px;
  }
}

.svg-hov:hover {
  opacity: 0.8;
}

.footer-cr {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: #8d8d8d;
}
.footer-padding {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (max-width: 600px) {
    padding-top: 30px;
  }
}

html.dark body {
  background-color: rgb(102, 102, 102);
  /* color: #111; */
}

html.dark .header-bottom-container {
  background-color: rgb(73, 63, 63);
  /* color: #111; */
}

html.dark .footer-bg {
  background-color: rgb(102, 102, 102);
  color: #111;
}

/* //////////////////////////////////////////// */

.switch {
  display: flex;

  position: relative;
  width: 32px;
  height: 12px;

  margin-left: 15px;

  @media screen and (min-width: 768px) {
  }
}

.switch-input {
  height: 0;
  width: 0;
  opacity: 0;
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 34px;
  background: linear-gradient(180deg, #86484b 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}

.switch-slider::before {
  content: "";
  position: absolute;
  cursor: pointer;
  height: 10px;
  width: 10px;
  left: 1px;
  bottom: 1px;
  border-radius: 50%;

  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
    1px 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}

.switch-input:checked + .switch-slider {
  background: linear-gradient(180deg, #683134 0%, #686868 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.switch-input:checked + .switch-slider::before {
  transform: translateX(20px);
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
}
